body {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  background-color: #f8f8f8;
}

h1 {
  text-align: center;
  font-size: 48px;
}

.header {
  text-align: center;
  height: 320px;
  border-bottom: 2px solid;
  position: relative;
}

.logo {
  width: 200px;
}

.puzzle-box-wrapper {}

.slide {
  width: 162px;
  height: 100px;
  background-color: #f8f8f8;
  position: absolute;
  transition: left 500ms ease-in-out 0s;
}
.buttons {
  width: 162px;
  height: 100px;
  background-color: #f8f8f8;
}

.crystal-count {
  position: absolute;
  left: 64%;
  top: 33%;
}

.count {
  margin: 0;
  font-family: helvetica;
  text-align: left;
}
.bar-title {
  margin: 0;
  text-transform: uppercase;
  text-align: left;
  font-family: helvetica;
  font-weight: 600;
  font-size: 12px;
}
.bar {
  width: 280px;
  height: 8px;
  position: relative;
	background: lightgray;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.bar > span {
  display: block;
  height: 100%;
  background-color: Chartreuse;
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  transition: width 2s;
  transition: width 2s ease-in-out 0s;
}